#vertnav{list-style: none;}

#vertnav ul {
	padding:0;
	margin:0;
	list-style: none;
    width:12em;
   z-index:99;
   overflow:visible;
   position:absolute;
   background-color:#DFDFDF;

}

#vertnav li {
	position: relative;
	width: 12em;
    background-color:#DFDFDF;
	border:solid 1px #CECECE;
   display:block;
   height:1.5em;
   margin:0;
}
#vertnav ul li{ background-color:#DFDFDF;}

#vertnav li{ border-width:1px 1px 0 1px;}
#vertnav li:last-child{border-bottom:1px solid #CECECE;}

#vertnav a {
    text-decoration:none;
    display:block;
    padding: 0.1em;
    margin:0.2em 0 0.2em 0.1em; /*helps Opera with hover */
    width:11.5em; /*helps IE with hover */
    height:1.2em;
}
#vertnav li:hover, #vertnav a:hover{
    background-color:#DFDFDF;
}

#vertnav ul, #vertnav ul ul, #vertnav ul ul ul{
    display:none;
    position:absolute;
    top:0;
    left:12em;
}

#vertnav li:hover ul ul, #vertnav li:hover ul ul ul{
    display:none;

}

#vertnav li:hover ul, #vertnav ul li:hover ul, #vertnav ul ul li:hover ul{
    display:block;
}

li>ul {
	top: auto;
	left: auto;
}

/* Win IE only \*/
* html #vertnav li{float:left;}
/* end holly hack */



