.mob-application {
    font-family: "lucida grande", lucida, tahoma, helvetica, arial, sans-serif;
    font-size: 12px;
    background: #FFFFFF;
}

/* header *****************************/

.mob-application-header {

}

/* body *******************************/

.mob-application-body {

}

.mob-menu-bar {
    font-family: arial, helvetica, serif;
    padding: 0;
    margin: 2em;
}

.mob-item-view-colonnade {
    border: 1px solid #eda;
    padding: 5px;
    margin: 5px;
}

.mob-item-view-column {

}

.mob-item-view-column-footer {
    border: 1px solid #eda;
    padding: 5px;
    margin: 5px;
}

.mob-search-column {

}

.mob-show-items-column {
    border: 1px solid #eda;
    padding: 5px;
    margin: 5px;
}

.mob-edit-items-column {

}

/* item views *************************/

.mob-item-view {

}

.mob-edit-item-view {

}

.mob-minimal-item-view {

}

.mob-full-item-view {
    border: 1px solid #eda;
    padding: 5px;
    margin: 5px;
    position: relative;
}

.mob-full-item-view-header {

}

.mob-full-item-view-header-left {
}

.mob-full-item-view-header-spacer {
    width: 10px;
}

.mob-full-item-view-header-right {
    /*position: absolute;
    top: 5px;
    right: 0;   */
}

.mob-full-item-view-header-right-aligned {
}

.mob-item-view-icon {
    float: left;
    overflow: hidden;
    display: block;
}

.mob-item-view-icon-image {
    width: 40px;
    height: 40px;
}

.mob-item-view-name {
    font-weight: bold;
}

.mob-item-view-description {
    
}

.mob-sensitivity-icon {
    width: 12px;
    height: 12px;
    opacity: 0.25;
}

.mob-close-icon {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}

.mob-close-icon:hover {
    text-decoration: underline;
}

/* footer *****************************/

.mob-application-footer {
    border: solid #eda;
    border-width: 1px 0;
}

/**************************************/

.mob-divider-column {
    width: 5px;    
}

.mob-divider-handle {
    width: 5px;
    height: 20px;
    background: #000000;
    vertical-align: middle;
}

/**************************************/

.mob-item-view-colonnade, .mob-full-item-view-header, .mob-full-item-view-header-right-aligned {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;

    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: stretch;

    display: box;
    box-orient: horizontal;
    box-align: stretch;
}