body {
    background-color: #000;
    color: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.question {
    font-size: xx-large;
    text-align: center;
}

.answer {
    font-size: x-large;
}

.question-context {
    text-align: left;
    font-size: medium;
    color: #f00;
}

.answer-source {
    text-align: right;
    font-size: medium;
    color: #f00;
}

.answer-primary-form {
    font-size: x-large;
}

.answer-secondary-forms {
    font-size: large;
}

.answer-pronunciation {
    font-weight: bold;
}

.answer-type {

}

.answer-meaning {
    font-size: large;
}