<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.fortytwo.extendo"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- necessary for sending Typeatron key events to Emacs. Requires root access -->
    <uses-permission android:name="android.permission.INJECT_EVENTS" />

    <application android:label="@string/app_name" android:icon="@drawable/icon">

        <!-- Main -->
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flashcards -->
        <activity android:name=".flashcards.android.Flashcards4Android"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".flashcards.android.FlashcardsSettings"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".flashcards.android.FlashcardsInfo"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <!-- BrainPing -->
        <activity android:name=".Info"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".ping.BrainPingPopup"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".ping.BrainPingSettings"
                  android:label="@string/app_name">
        </activity>
        <service android:name=".ping.BrainPingService">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </service>

    </application>
</manifest> 
